/*a {
    background-color: pink;
}

.main {
    width: 600px;
    background-color: lightblue;
}

.main h2 {
    background-color: pink;
}

img {
    display: none;
}*/

.navigasi li {
    display: inline;
}